:root {
  --primary-text-color: #e5e5e5;
  --secondary-text-color: #b3b3b3;
  --primary-background-color: #141414;
  --secondary-background-color: #181818;
  --left-right-spacing: 60px;

  @media (max-width: 1400px) {
    --left-right-spacing: 4%;
  }
}